@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  font-family: var(--font-family);
}

.swiper-button-next {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 100;
  width:36px;
  height:36px;
  background-color: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.swiper-button-next:after {
  width:16px;
  height: 20px;
  color: white;
  content: url('../../public/chevron-right.svg');
}

.swiper-button-prev {
  position: absolute;
  bottom: 10px;
  right: 60px;
  z-index: 100;
  width:36px;
  height:36px;
  background-color: rgba(0,0,0,0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.swiper-button-prev:after {
  width:18px;
  height: 18px;
  color: white;
  content: url('../../public/chevron-left.svg');
}
